/**
 * Generic styles
 */
body
{
	background: #5d82ff top center url( images/bg.jpg ) no-repeat;
	font: 14px sans-serif; color: #fff;
	margin: 0 auto; padding: 300px 12px 0 12px;
	max-width: 900px;
}

h1
{
	margin: 0; padding: 0;
	text-transform: uppercase;
	display: none;
}

h2
{
	margin: 0; padding: 0 0 18px 0;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}

.Article p
{
	margin: 0 auto; padding: 0 36px 18px;
	line-height: 160%;
	font-size: 18px;
}

.Article a
{
	color: #000;
	text-decoration: none;
}

.Article div.Season,
	div.Tracks
{
	-webkit-transform: scale(1) rotate(1deg) translateY(0);
	-moz-transform: scale(1) rotate(1deg) translateY(0);
	-o-transform: scale(1) rotate(1deg) translateY(0);
	transform: scale(1) rotate(1deg) translateY(0);
}

.Article div.Season:nth-child(odd)
{
	-webkit-transform: scale(1) rotate(-2deg) translateY(0);
	-moz-transform: scale(1) rotate(-2deg) translateY(0);
	-o-transform: scale(1) rotate(-2deg) translateY(0);
	transform: scale(1) rotate(-2deg) translateY(0);
}
