/**
 * Season table
 */
div.Season
{
	margin: 0 0 8px 0;
	padding: 24px 16px;
	background: #fff; color: #333;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 0 16px #646464;
	-webkit-box-shadow: 0 0 16px #646464;
	-moz-box-shadow: 0 0 16px #646464;
	overflow: hidden;
}

div.Season table
{
	margin: 0 auto; padding: 0;
	width: auto;
}

div.Season table tbody tr
{
	background-color: #f4f4f4;
}

div.Season table tbody tr:nth-child(odd)
{
	background-color: #f8f8f8;
}

div.Season table thead th
{
	padding: 6px 4px;
	font-weight: normal;
}

div.Season table tbody td
{
	margin: 0;
	padding: 6px 4px;
}

div.Season table thead th.Team
{
	text-align: left;
	white-space: nowrap;
}

div.Season table thead th.Rank,
	table tbody td.Rank,
	table thead th.Qualify,
	table tbody td.Qualify,
	table thead th.Pos,
	table tbody td.Pos,
	table thead th.Score,
	table tbody td.Score
{
	text-align: right;
}

div.Season table tbody td.Rank
{
	font-weight: bold;
	text-align: center;
}

div.Season table tbody td.Guest
{
	color: #808080;
}

div.Season table thead th.Qualify,
	div.Season table tbody td.Qualify
{
	color: #c0c0c0;
}

div.Season table tbody td.Pos
{
	color: #404040;
}

div.Season table tbody td.Team
{
	white-space: nowrap;
	overflow: hidden;
}

div.Season table tbody td.Score
{
	color: #000000;
	font-weight: bold;
}

div.Season table tbody td del
{
	color: #c08080;
}
