/**
 * Tracks styles
 */
div.Tracks
{
	margin: 0 0 8px 0;
	padding: 24px 16px 16px;
	background: #fff; color: #555;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 0 16px #646464;
	-webkit-box-shadow: 0 0 16px #646464;
	-moz-box-shadow: 0 0 16px #646464;
	overflow: hidden;
}

div.Tracks ul
{
	float: left;
	position: relative; left: 50%;
	margin: 0 auto; padding: 0;
	list-style: none;
}

div.Tracks ul li
{
	float: left;
	position: relative; right: 50%;
	margin: 0 8px 8px 0; padding: 0;
	width: 203px;
	height: 112px;
}

div.Tracks ul li a
{
	display: block;
	padding: 8px 16px;
	width: 171px;
	height: 96px;
	background-color: #e8e8e8;
	color: #000;
	text-decoration: none;
	line-height: 96px;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

div.Tracks ul li a:hover
{
	font-size: 0;
	line-height: 300px;
	background-image: url( images/tracks.jpg );
}

div.Tracks ul li.Krc a:hover
{
	background-position: 0 0;
}

div.Tracks ul li.Mgh a:hover
{
	background-position: 0 -336px;
}

div.Tracks ul li.Kcf a:hover
{
	background-position: 0 -112px;
}

div.Tracks ul li.Bk a:hover
{
	background-position: 0 -224px;
}

div.Terminator
{
	clear: both;
	margin: 0; padding: 0;
}
