RewriteEngine On
RewriteRule ^(apple-touch-icon[a-z0-9.-]+)$ icons/$1
RewriteRule ^favicon.ico$ icons/favicon.ico
RewriteCond %{HTTP:Accept-Encoding} .*gzip.*
RewriteRule ^(.*)\.html$ $1.html.gz
RewriteCond %{HTTP:Accept-Encoding} .*gzip.*
RewriteRule ^(.*)\.css$ $1.css.gz
AddEncoding x-gzip text.gz

DirectoryIndex index.html
Options -Indexes

<IfModule mod_headers.c>
	<FilesMatch "\.(js|css|xml|gz)$">
		Header append Vary: Accept-Encoding
	</FilesMatch>
</IfModule>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/css "access plus 1 week"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
</IfModule>

ErrorDocument 401 http://kartpokal.de/
ErrorDocument 403 http://kartpokal.de/
ErrorDocument 404 http://kartpokal.de/
ErrorDocument 500 http://kartpokal.de/
